NEXT_PUBLIC_API_URL=https://cms-banlung.analyticalx.org/api/v1
NEXT_PUBLIC_API_KEY=Api-Key 679644143302125
NEXT_PUBLIC_SITE_URL=https://next-dcx.vercel.app
API_KEY=Api-Key 679644143302125
WEATHER_URL=https://forecast7.com/en/13d37103d84/krong-siem-reap/
#WEATHER_URL=https://forecast7.com/en/13d86107d10/ratanakiri-province/
#WEATHER_URL=https://forecast7.com/en/13d37103d84/krong-siem-reap/
#WEATHER_LABEL=SIEMREAP
#WEATHER_LABEL=KAMPONG CHAM
#WEATHER_LABEL=BANLUNG
